<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/angular-icon.png" width="30" height="30" loading="lazy">
    </a>
    <a class="navbar-brand" href="#">GOTY</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" routerLinkActive="active" routerLink="/inicio">Inicio</a>
            <a class="nav-link" routerLinkActive="active" routerLink="/goty">Votar</a>
        </div>
    </div>
</nav>